:root{
    --dark-blue: #001d47;
    --light-green: #00b98e;    
}
*{
    box-sizing: border-box;
    font-family: Roboto , sans-serif;
    margin: 0;
}
body{
    height: auto;
    margin-bottom: 20px;
}
main{
    margin-top: 150px;
    width: 80%;
    margin-left: 10%;
}
.info input{
    height: 35px;
    width: 300px;
    border-radius: 7px;
    font-size: 15px;
    border: 2px solid #d1d1d1;
}
#delete2{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #850909;
    transition: box-shadow 0.5s;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#delete2:hover{
    box-shadow: 0px 0px 10px #000;
}
@media (max-width: 490px) {


}