{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PasswordReset.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/imgs/logo.png' %}" >
    <title>SuiteHome</title>
</head>
<body>
    {% include 'nav_bar.html' %}
    <main>
        <form method="POST">
    {% csrf_token %}
    <div class="info" >{{form}}</div>
    <input type="submit" id="delete2" value="Reset my password">
    </main>
</form>
    {% include 'footer.html' %}
</body>
</html>